<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">Edicion de Perfil</h4>
      <ol class="breadcrumb">
          <li><a href="#">Usuario</a></li>
          <li><a href="#">Edicion de Perfil</a></li>
          <li class="active">Editar</li>
      </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="col-xs-6 col-xs-offset-3 m-t-30 card" *ngIf="selectedUser">
  <form id="edit-form"  #EditUserForm="ngForm" (ngSubmit)="updateUser(EditUserForm.value)">
      <div *ngIf="selectedUser.picture!=null" class="form-group col-xs-6 col-xs-offset-3">
          <img src="{{selectedUser.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;">
    </div>

    <div class="form-group col-xs-6 col-xs-offset-3">
      <input type="file" id="avatar" (change)="subirImagenes($event,EditUserForm.value,'avatar')"/>
      <progress value="0" max="100" id="barra_de_progreso"></progress>
  </div>

    <div class="form-group col-xs-12 m-b-15">
          <label for="username">Nombre de Usuario</label>
          <input type="text" class="form-control" id="username" name="username" required
                  ngModel #username="ngModel" [(ngModel)]="selectedUser.username">
            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                  class="alert alert-danger" role="alert">
                <small *ngIf="username.errors.required">
                    El Usuario es invalido
                </small>
            </div>
      </div>
      <div class="form-group col-xs-6 m-b-15">
          <label for="firstname">Nombre</label>
          <input type="text" class="form-control" id="firstname" name="firstname" required
                  ngModel #firstname="ngModel" [(ngModel)]="selectedUser.firstname">
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                  class="alert alert-danger" role="alert">
                <small *ngIf="firstname.errors.required">
                    El Usuario es invalido
                </small>
            </div>
      </div>
      <div class="form-group col-xs-6 m-b-15">
          <label for="lastname">Apellido</label>
          <input type="text" class="form-control" id="lastname" name="lastname" required
                  ngModel #lastname="ngModel" [(ngModel)]="selectedUser.lastname">
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                  class="alert alert-danger" role="alert">
                <small *ngIf="lastname.errors.required">
                    El Usuario es invalido
                </small>
            </div>
      </div>

      <div class="form-group col-xs-12 m-b-15">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required
                    ngModel #email="ngModel" [(ngModel)]="selectedUser.email">
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger" role="alert">
                  <small *ngIf="email.errors.required">
                      El Email es invalido
                  </small>
              </div>
      </div>
      <div class="form-group col-xs-12 m-b-15">
        <label for="description">Descripcion</label>
        <input type="text" class="form-control" id="description" name="description" required
                ngModel #description="ngModel" [(ngModel)]="selectedUser.description">
          <div *ngIf="description.invalid && (description.dirty || description.touched)"
                class="alert alert-danger" role="alert">
              <small *ngIf="description.errors.required">
                  El Usuario es invalido
              </small>
          </div>
    </div>
      <div class="form-group col-xs-6 m-b-15">
          <label for="birthday">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="birthday" name="birthday" required
                  ngModel #birthday="ngModel" [(ngModel)]="selectedUser.birthday" (change)="date(birthday.value)">
            <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)"
                  class="alert alert-danger" role="alert">
                <small *ngIf="birthday.errors.required">
                    El Usuario es invalido
                </small>
            </div>
      </div>
      <div class="form-group col-xs-6 m-b-15">
          <label for="age">Edad</label>
          <input type="text" class="form-control" id="age" name="age" required
                  ngModel #age="ngModel" [(ngModel)]="dateToday" readonly>
            <div *ngIf="age.invalid && (age.dirty || age.touched)"
                  class="alert alert-danger" role="alert">
                <small *ngIf="age.errors.required">
                    El Usuario es invalido
                </small>
            </div>
      </div>
      <div class="form-group col-xs-6 m-b-15">
          <label for="phone">Telefono</label>
          <input type="text" class="form-control" id="phone" name="phone" required
                  ngModel #phone="ngModel" [(ngModel)]="selectedUser.phone">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                  class="alert alert-danger" role="alert">
                <small *ngIf="phone.errors.required">
                    El Usuario es invalido
                </small>
            </div>
      </div>
      <div class="form-group col-xs-6 m-b-15">
          <label for="work">Telefono de Trabajo</label>
          <input type="text" class="form-control" id="work" name="work" required
                  ngModel #work="ngModel" [(ngModel)]="selectedUser.work">
            <div *ngIf="work.invalid && (work.dirty || work.touched)"
                  class="alert alert-danger" role="alert">
                <small *ngIf="work.errors.required">
                    El Usuario es invalido
                </small>
            </div>
      </div>


        <input type="hidden" class="form-control" id="id" name="id" required
                ngModel #id="ngModel" [(ngModel)]="selectedUser.id">

      <div class="form-group col-xs-12 text-right m-b-15">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
      </div>
    </form>
    <form id="passChange-form"  #passChange="ngForm" (ngSubmit)="updatePass(passChange.value)">
      <div class="form-group col-xs-12 m-b-15">
            <label for="old_pass">Contraseña Anterior</label>
            <input type="password" class="form-control" id="old_pass" name="old_pass" required
                    ngModel #old_pass="ngModel" [(ngModel)]="selectedUser.old_pass">
              <div *ngIf="old_pass.invalid && (old_pass.dirty || old_pass.touched)"
                    class="alert alert-danger" role="alert">
                  <small *ngIf="old_pass.errors.required">
                      La Contraseña Anterior es invalida
                  </small>
              </div>
      </div>

      <div class="form-group col-xs-12 m-b-15">
            <label for="new_pass">Contraseña Nueva</label>
            <input type="password" class="form-control" id="new_pass" name="new_pass" required
                    ngModel #new_pass="ngModel">
              <div *ngIf="new_pass.invalid && (new_pass.dirty || new_pass.touched)"
                    class="alert alert-danger" role="alert">
                  <small *ngIf="new_pass.errors.required">
                      La Contraseña Nueva es invalida
                  </small>
              </div>
      </div>
      <div class="form-group col-xs-12 m-b-15">
            <label for="new_pass2">Repita la Contraseña Nueva</label>
            <input type="password" class="form-control" id="new_pass2" name="new_pass2" required
                    ngModel #new_pass2="ngModel">
              <div *ngIf="new_pass2.value != new_pass.value"
                    class="alert alert-danger" role="alert">
                  <small>
                      Las contraseñas deben ser Iguales
                  </small>
              </div>
      </div>
      <div class="form-group col-xs-12 text-right m-b-15">
          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Cambiar Contraseña</button>
      </div>
  </form>
</div>
<simple-notifications [options]="options"></simple-notifications>


<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;">
<app-loader></app-loader>
    </div>
  </div>
</div>
