<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">Data Tables</h4>
      <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Tables</a></li>
          <li class="active">Data Table</li>
      </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="card mb-3">
  <div class="card-body">

      <div class="">
          <div class="">

              <div class="col-sm-12">
                <div class="" *ngIf="selectedData">
                    <h3>Data Table</h3>
                    <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                        <div class="alert alert-success"><button type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i> </button> Compra Confirmada, su numero de Autorizacion es : <a href="#" class="alert-link">{{selectedData.aprobacion}}</a> , su comprobante es: <a href="#" class="alert-link"> {{selectedData.ern}}</a>.</div>

                        <div *ngIf="selectedData.products.picture!=null" class="form-group col-xs-6 col-xs-offset-3">
                            <img src="{{selectedData.products.picture}}" id="imgAvatar" alt="Avatar" style="width:50%;">
                        </div>

                          <div class="form-group col-xs-12 m-b-15">
                              <label for="name">Nombre</label>
                              <input type="text" class="form-control" id="name" name="name" required disabled
                                      ngModel #name="ngModel" placeholder="name" [(ngModel)]="selectedData.products.name">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="name.errors.required">
                                        El Nombre es invalido
                                    </small>
                                </div>
                          </div>
                          <div class="form-group col-xs-12 m-b-15">
                              <label for="description">Descripcion</label>
                              <input type="text" class="form-control" id="description" name="description" required disabled
                                      ngModel #description="ngModel" placeholder="description" [(ngModel)]="selectedData.products.description">
                                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="description.errors.required">
                                        La descripcion es invalido
                                    </small>
                                </div>
                          </div>

                          <div class="form-group col-xs-6 m-b-6">
                              <label for="price">Precio</label>
                              <input type="number" class="form-control" id="price" name="price" required disabled
                                      ngModel #price="ngModel" placeholder="price"  [(ngModel)]="selectedData.unit_price">
                                <div *ngIf="price.invalid && (price.dirty || price.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="price.errors.required">
                                        La Precio es invalido
                                    </small>
                                </div>
                          </div>

                          <div class="form-group col-xs-6 m-b-6">
                              <label for="ern">No. Comprobante</label>
                              <input type="number" class="form-control" id="ern" name="ern"
                                      ngModel #ern="ngModel" placeholder="Cantidad" [(ngModel)]="selectedData.ern" readonly>
                                <div *ngIf="ern.invalid && (ern.dirty || ern.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="ern.errors.required">
                                        La Cantidad es invalido
                                    </small>
                                </div>
                          </div>

                          <div class="form-group col-xs-6 m-b-6">
                              <label for="quantity">Cantidad</label>
                              <input type="number" class="form-control" id="quantity" name="quantity"
                                      ngModel #quantity="ngModel" placeholder="Cantidad" [(ngModel)]="selectedData.quantity" readonly>
                                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="quantity.errors.required">
                                        La Cantidad es invalido
                                    </small>
                                </div>
                          </div>

                          <div class="form-group col-xs-6 m-b-6">
                              <label for="comment">Comentario</label>
                              <input type="text" class="form-control" id="comment" name="comment"
                                      ngModel #comment="ngModel" placeholder="Comentario" [(ngModel)]="selectedData.comment" readonly>
                                <div *ngIf="comment.invalid && (comment.dirty || comment.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="comment.errors.required">
                                        La Comentario es invalido
                                    </small>
                                </div>
                          </div>

                          <div class="form-group col-xs-6 m-b-6">
                            <label for="comprobante">Numero de Autorizacion</label>
                            <input type="text" class="form-control" id="comprobante" name="comprobante"
                                    ngModel #comprobante="ngModel" placeholder="Cantidad" [(ngModel)]="selectedData.aprobacion" readonly>
                              <div *ngIf="comprobante.invalid && (comprobante.dirty || comprobante.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="comprobante.errors.required">
                                      La Cantidad es invalido
                                  </small>
                              </div>
                        </div>

                        <div class="form-group col-xs-6 m-b-6">
                            <label for="fecha">Fecha y hora de Autorizacion</label>
                            <input type="text" class="form-control" id="fecha" name="fecha"
                                    ngModel #fecha="ngModel" placeholder="Comentario" [(ngModel)]="selectedData.fecha" readonly>
                              <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="fecha.errors.required">
                                      La Comentario es invalido
                                  </small>
                              </div>
                        </div>

                          <input type="hidden" class="form-control" id="user_created" name="user_created" required disabled
                                  ngModel #user_created="ngModel" [(ngModel)]="selectedData.user_created">
                          <input type="hidden" class="form-control" id="id" name="id" required
                                  ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                        <div class="form-group col-xs-12 text-right m-b-15">
                            <!-- <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cerrar</button> -->
                            <!-- <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button> -->
                        </div>
                    </form>
                </div>
            </div>

          </div>
      </div>
  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>
<div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
  <app-loader></app-loader>
      </div>
    </div>
  </div>
